<!DOCTYPE  html>
<html>
        <head> 
        <title>About Us</title> <br>
    </head>
    <body>
      <link href="/static/main.css" rel="stylesheet">
       <ul> <b>Readitate</b>   </ul>
       <li><a href="/index"">Home</a></li>
       <li><a href="/about">About Us</a></li>
       <li><a href="/how">How It Works</a></li>
       
        <br> <br>
        <table align="center" width="50" border="0" cellspacing="0" cellpadding="0"> 
        <tr> 
            <th>ABOUT US <br>
                <p>
                Readitate aims to help people soul-search through the use of literature, a practice known as bibliotherapy. Think of it as a form of meditation through the written word. We believe that reading has a therapeutic effect that has yet to be harnessed. Our goal is to create a medium through which biblitherapy can thrive.  
                </p>
            </th>
            </tr>
        </table>
      <br> <br>
    
    </body>
    
</html>