<!DOCTYPE  html>
<html>
        <head> 
        <title>How It Works</title> <br>
    </head>
    <body>
      <link href="/static/main.css" rel="stylesheet">
       <ul> <b>Readitate</b>   </ul>
       <li><a href="/index">Home</a></li>
       <li><a href="/about">About Us</a></li>
       <li><a href="/how">How It Works</a></li>
       
        <br> <br>
        <table align="center" width="50" border="0" cellspacing="0" cellpadding="0"> 
        <tr> 
            <th>HOW IT WORKS <br>
                <p>
                Readitate matches books with particular emotions. Feeling a little lonely? There's a book for that. Started a new relationship recently? There's a book for that, too. The idea is to make the reader feel understood, like they are a part of something far more universal. You might ask, "What do I do?" Easy. All you have to do is type in how you're feeling. 
                </p>
            </th>
            </tr>
        </table>
      <br> <br>
    
    </body>
    
</html>